.profile{
    /* background: blue; */
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.profileh1{
    font-size: 50px;
    font-weight: 800;
    color: #142575;
}
.profilep{
    font-size: 18px;
    color: #455880;
}

.overview{
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
    margin-top: 100px;
}

.overviewh2{
    font-size: 30px;
    color: #142575;
}

.img{
    width: 600px;
    position: relative;
    top: 80px;
    right:50px ;
}
.red{
    color: #D0322E;
}

.overviewleft{
    width: 700px;

}
.overviewright{
    width: 500px;
    /* background: blue; */
}

.bold{
    font-weight: bolder;
}

.after{
    width: 80%;
    height: 2px;
    background: rgb(224, 224, 224);
    margin: auto;
    margin-top: 100px;
}

.product{
    display: flex;
    justify-content: space-evenly;
    font-size: 12px;
}
.producth2{
    font-size: 20px;
}
.productleft{
    width: 600px;
    margin-left: 200px;
}
.productright{
    width: 500px;
    margin-right: 200px;
}

.provision{
    text-align: center;
    color: #142575;
    width: 80%;
    margin: auto;
    margin-top: 100px;
}

.partner{
    width: 90%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}
.partnerh2{
    font-size: 30px;
    color: #142575;
}
.partnerimg{
    filter: grayscale(100%);
    width: 100px;
    margin-right: 50px;
}
@media only screen 
and (min-device-width: 320px)
and (max-device-width: 359px)
/* and (-webkit-min-device-pixel-ratio: 2) */
{
    .overview{
        display: block;
        width: 310px;
        justify-content: space-around;
        font-size: 12px;
        margin-top: 100px;
        /* border: 1px solid red; */
        /* text-align: center; */
        /* flex-direction: column; */
        margin: auto;
    }
    .img{
        width: 315px;
        margin: auto;
        position: relative;
        left:0px;
}
.overviewp{
    width: 310px;
    /* margin-left: px; */
}

}
@media only screen 
and (min-device-width: 360px)
/* and (-webkit-min-device-pixel-ratio: 2) */
{

    .overview{
        display: flex;
        width: 400px;
        justify-content: space-around;
        font-size: 12px;
        margin-top: 100px;
        /* border: 1px solid red; */
        /* text-align: center; */
        flex-direction: column;
        margin: auto;
    }
    .overviewh2{
        margin-left: 30px;
    }
    .img{
        width: 360px;
        position: relative;
        left:0px;
    }
    .overviewp{
        width: 340px;
        margin-left: 20px;
    }


}
@media only screen 
and (min-device-width: 417px)
and (max-device-width: 1200px)
/* and (-webkit-min-device-pixel-ratio: 2) */
{
    .overview{
        display: flex;
        justify-content: space-around;
        font-size: 12px;
        margin-top: 100px;
    }
}
@media only screen 
and (min-device-width: 720px)
/* and (max-device-width: 800px) */
and (-webkit-min-device-pixel-ratio: 1){

    .overview{
        display: flex;
        width: 400px;
        justify-content: space-around;
        font-size: 12px;
        margin-top: 100px;
        /* border: 1px solid red; */
        /* text-align: center; */
        flex-direction: column;
        margin: auto;
    }
    .overviewh2{
        margin-left: 30px;
    }
    .img{
        width: 360px;
        position: relative;
        left:0px;
    }
    .overviewp{
        width: 340px;
        margin-left: 20px;
    }

}