.top{
    width:600px;
    height: 255px;
    /* background: blue; */
    text-align: center;
    margin: auto;
    margin-top: 100px;
    color: #142575;
}

.toph2{
    font-size: 50px;
    font-weight: 900;
}

.btndiv{
    text-align: center;
    margin: 30px;
}

.shopbtn{
    width: 118px;
    height: 50px;
    background: #142575;
    color: white;
    border-radius: 35px;
    border: none;
}
.contactbtn{
    width: 156px;
    height: 50px;
    color: #455880;
    background: #ffff;
    border: none;
    border-radius: 35px;
    box-shadow: 3px 3px rgba(0,0,0,0.1);
}


.mission{
    width: 1241px;
    height: 255px;
    text-align: center;
    color: #142575;
    margin: auto;
    margin-top: 100px;
}
.missionh2{
    font-size: 30px;
    font-weight: 900;
}
.missionp{
    font-size: 20px;
}

.product{
    text-align: center;
    width: 1241px;
    margin: auto;
    margin-bottom: 20px;
}
.productcard{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.productcards{
    background: #FAFAFA;
    width: 270px;
    height: 436px;
}
.red{
    color: #D0322E;
}

@media only screen 
and (min-device-width: 360px)
and (-webkit-min-device-pixel-ratio: 2){

    .top{
        width: 360px;
        /* overflow: hidden; */
    }

    .btndiv{
        margin-top: 120px;
        width: 300px;
        /* margin: auto; */
        /* background: blue; */
        margin-left: 60px;
    }

    .mission{
        width: 360px;
        position: relative;
        /* left: 20px; */
    }

    .product{
        margin-top: 360px;
        width: 360px;
    }
    .productcard{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .productcards{
        margin: auto;
        margin-bottom: 30px;
    }
    
}

@media only screen 
and (min-device-width: 415px)
and (max-device-width: 1400px)
and (-webkit-min-device-pixel-ratio: 2){
    .btndiv{
        margin-left: initial;
    }
}