.nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    box-shadow: 3px 1px rgba(0,0,0,0.1);
    align-content: center;   
    /* position: fixed; */
    /* position: static;  */
}
.img{
    width: 100px;
    height: 30px;
    left: 10px;
    position: relative;
    top: 10px;
}
.link{
    display: flex;
    margin-left: 80px;
}

.list{
    list-style: none;
    margin-right: 30px;

}

.listlink{
    color: #142575;
    cursor: pointer;
}
.listlink:hover{
    color: #D0322E;
}

.button{
    width: 117px;
    height: 40px;
    background: #D0322E;
    border: none;
    outline: none;
    border-radius: 40px;
    color: white;
    margin-right: 5px;
    font-family:  'Poppins', sans-serif;
    cursor: pointer;
    /* float: right; */
}

.cart{
    margin-top:10px;
    margin-right: -200px;
    /* position: relative;
    top: 15px;
    right: 70px; */
    width: 20px;
    height: 20px;
    cursor: pointer;
}

@media only screen 
and (min-device-width: 360px)
and (max-device-width: 442px)
and (-webkit-min-device-pixel-ratio: 2){
    .nav{
        width:100%;
    }
    .link{
        display: block;
        margin-left: -165px;
        margin-top: 50px;
    }
    .button{
        margin-top: 10px;
    }
    .cart{
        margin-top: 20px;
        margin-right: 10px;
        position: relative;
        left: 40px;
    
    }
}
@media only screen 
and (min-device-width:320px)
and (max-device-width: 359px)
and (-webkit-min-device-pixel-ratio: 2){
    .nav{
        width:100%;
    }
    .link{
        display: block;
        margin-left: -145px;
        margin-top: 50px;
    }
    .button{
        margin-top: 10px;
    }
    .cart{
        margin-top: 20px;
        margin-right: 10px;
        position: relative;
        left: 20px;
    
    }
}

@media only screen 
and (min-device-width: 443px)
and (max-device-width: 479px)
and (-webkit-min-device-pixel-ratio: 2){
    .nav{
        width:100%;
    }
    .link{
        display: block;
        margin-left: -165px;
        margin-top: 50px;
    }
    .button{
        margin-top: 10px;
    }
    .cart{
        margin-top: 20px;
        margin-right: 10px;
        position: relative;
        left: 70px;
    
    }
}
@media only screen 
and (min-device-width: 480px)
and (max-device-width: 599px)
and (-webkit-min-device-pixel-ratio: 2){
    .nav{
        width:100%;
    }
    .link{
        display: block;
        margin-left: -250px;
        margin-top: 50px;
    }
    .button{
        margin-top: 10px;
    }
    .cart{
        margin-top: 20px;
        margin-left: 90px;
        position: relative;
        left: -100px;
    }
}
@media only screen 
and (min-device-width: 600px)
and (max-device-width: 800px)
and (-webkit-min-device-pixel-ratio: 2){
    .nav{
        width:100%;
    }
    .link{
        display: block;
        margin-left: -290px;
        margin-top: 50px;
    }
    .button{
        margin-top: 10px;
    }
    .cart{
        margin-top: 20px;
        margin-left: 90px;
        position: relative;
        left: -100px;
    }
}
@media only screen 
and (min-device-width: 801px)
and (max-device-width: 1025px)
and (-webkit-min-device-pixel-ratio: 2){
    .nav{
        width:100%;
    }
    .link{
        display: flex;
        margin-left: 40px;
        margin-top: 50px;
    }
    .button{
        margin-top: 10px;
    }
    .cart{
        margin-top: 20px;
        margin-left: 90px;
        position: relative;
        left: -180px;
    }
}

@media only screen 
and (min-device-width: 1026px)
/* and (max-device-width: 800px) */
and (-webkit-min-device-pixel-ratio: 2){
    .nav{
        width:100%;
    }
    .link{
        display: flex;
        margin-left: 60px;
        margin-top: 50px;
    }
    .button{
        margin-top: 10px;
    }
    .cart{
        margin-top: 20px;
        /* margin-left: 0px; */
        position: relative;
        left: -90px;
    }
}